{% load static %}
{% for answer in answers %}
    <div class="content-wrapper">
        <div><a href="{% url 'polls:category' answer.question__category %}" class="category"><i>Category:</i> {{answer.question__category}}</a></div>
        <h2><a href="{% url 'polls:details' answer.question__id %}" class="question-text accent-text">{{answer.question__content}}</a></h2>
        <div style="margin-top:20px"><i>Answered by </i><a href="{% url 'polls:profile' answer.user__id %}" class="accent-text username">{{answer.user__username}}</a></div>
        <div class="time"> {{ answer.time }} </div>
        <p class="answer-text accent-text"> {{ answer.content }} </p>
    </div>
{% endfor %}