{% extends "polls/base.html" %}
{% load static%}

{% block content %}
		<div class="container-fluid" id="mainview">
			<div class="profile-head">
				<h3 class="accent-text" style="font-size:30px"> {{ target_user.username }} </h3>
				<div class="user-details">
					<h3 class="accent-text" style="font-size:20px"> 
					{% if target_user.profile.name %}
						{{ target_user.profile.name }} 
					{% else %}
						Unkown name
					{% endif %}
					</h3>
					<p><i>
						{% if target_user.profile.description %}
							Description: {{ target_user.profile.description }} 
						{% else %}
							No description yet ! 
						{% endif %}
					</i></p> 
					{% if user.id == target_user.id %}
						<a href="{% url 'polls:editprofile' user.id %}">Edit profile</a>
					{% endif %}
				</div>
				<hr class="hrstyle" width="100%">
			</div>
			<div class="profile-main">
			<!-- left pannel -->
				<div class="col-xs-2 test1 left-panel" style="margin-top: 10px">
					
					<ul style="padding:0">
						<li class="pannel-item"><a href="{% url 'polls:profile' target_user.id %}" class="side-pannel-text">Questions</a></li>
						<li class="pannel-item"><a href="{% url 'polls:useranswers' target_user.id %}" class="side-pannel-text">Answers</a></li>
						{% if user.id == target_user.id %}
							<li class="pannel-item"><a href="{% url 'polls:userfollows' target_user.id %}" class="side-pannel-text">Follows</a></li>
						{% endif %}
					</ul>
				</div>
				<!-- main view  -->
				{% block procontent %}
				{% endblock procontent %}
				</div>
			</div>
{% endblock content %}