{% extends "polls/base.html" %}
{% load static %}

{% block content %}

<div class="container-fluid col-xs-6" id="qbox">
	<div><a href="{% url 'polls:category' question.category %}" class="category"><i>Category:</i> {{question.category}}</a></div>
	<h2><p class="accent-text">{{question.content}}</p></h2>
	<div><span class="tagging-text">Asked by </span><a href="{% url 'polls:profile' question.user.id %}" class="accent-text username">{{question.user.username}}</a></div>
	<div class="time">{{question.time}}</div>
	<div class="row" style="margin-top: 15px; margin-bottom: 5px">
		<div class="col-xs-2" onclick="toggle_visibility('ans_form');"> <a class="side-pannel-text" href="#">Answers</a></div>
		<div class="col-xs-8">
			<a href="{% url 'polls:follow' question.id %}" class="side-pannel-text">{{ follow }}</a> 
			<span class="side-pannel-text">({{ follow_num }})</span>
		</div>
		{% if question.user.id == user.id %}
		<div class="col-xs-2">
			<a href="{% url 'polls:delete' question.id %}" style="color:red">Delete</a>
		</div>
		{% endif %}
	</div>
	<br><br>
	<script type="text/javascript">
		function toggle_visibility(id) {
			var e = document.getElementById(id);
			if(e.style.display == 'block')
			   e.style.display = 'none';
			else
			   e.style.display = 'block';
		}
	 </script>
		
	<div id="ans_form" style="margin-top: 10px; display: none">
		{% include 'polls/new_answer.html' with form=myform question_id=question.id %}
	</div>
	{%if num > 1%}
		<h4>{{num}} Answers<h4>
	{%elif num == 1%}
		<h4>{{num}} Answer<h4>
	{%else%}
		<h4>No Answer<h4>
	{%endif%}

	{% for answer in answers %}
	<hr class="hrstyle" width="100%">
	<div style="margin-top: 20px; margin-bottom: 20px">
		<!-- Answer block -->
		<div><span class="tagging-text">Answered by </span><a href="{% url 'polls:profile' answer.user.id %}" class="accent-text username">{{answer.user.username}}</a></div>
		<div class="time"> {{ answer.time }} </div>
		<p class="answer-text accent-text"> {{ answer.content }} </p>

		<div class="row" style="margin-top: 15px; margin-bottom: 15px">
			<div class="col-xs-2"> <a class="side-pannel-text" href="#">Comment</a></div>
			<div class="col-xs-8">
					{% for id, text, no in votes %}
					{% if id == answer.id %}
						<a href="{% url 'polls:vote' answer.id %}" class="side-pannel-text">{{ text }} ({{no}})</a>
					{% endif %}
					{% endfor %}
			</div>
			<div class="col-xs-2">
					{% if question.user.id == user.id %}					
						<a href="{% url 'polls:accept' answer.id %}" class="side-pannel-text">
							{% if answer.accepted %}
								<div class="side-pannel-text" style="color: green">Accepted</div>
							{% else %}
								<div class="side-pannel-text">Accept</div>
							{% endif %}
						</a>
					{% else %}
						<a class="side-pannel-text">
							{% if answer.accepted %}
								<div style="color: green">Accepted</div>
							{% endif %}
						</a>
					{% endif %}
			</div>
		</div>

		<div class="comment">
			{% for comment in comments %}
				{% if comment.answer == answer %}
						<div class="cmt-item">
							<div>
								<a href="{% url 'polls:profile' comment.user.id %}" class="accent-text username" style="font-size:16; margin-right: 10px;">{{comment.user.username}}</a>
								<span class="comment-text">{{comment.content}}</span>
							</div>
							<div class="time">{{comment.time}}</div>
						</div>
				{% endif %}
			{% endfor %}
			<div id="new_cmt_form" class="cmt-item">{% include 'polls/new_comment.html' with form=cmtform answer_id=answer.id %}
			</div>
		</div> 
	</div>
	{% endfor %}
</div>
<div class="col-xs-6" style="margin-top: 80px; padding: 0 100 0 100" >
	<div class="side-pannel-header" style="margin-bottom:10px">U might be interested in:</div>
	<hr class="hrstyle" width="100%"> 
	<div style="padding: 10 10 10 10">
		{% for rel in relateds %}
			<div style=" margin-top: 10px">
				<a href="{% url 'polls:details' rel.id %}">{{ rel.content }}</a>
			</div>
		{% endfor %}
	</div>
</div> 
{% endblock content %}