{% extends "polls/base.html" %}
{% load static%}

{% block content %}
		<div class="container-fluid" id="mainview">
			<!-- left pannel -->
			<div class="col-xs-2 left-panel" style="margin-top:59px" >
				<div class="side-pannel-header" style="margin-bottom:10px">Tops</div>
				<hr class="hrstyle" width="100%"> 
				<ul style="padding:0">
					<li class="side-pannel-text pannel-item">Top active users:</li>
					
						{% for username, userid in top_users %}
							<div style="padding-left:25%"><li class="pannel-item"><a href="{% url 'polls:profile' userid %}" class="username accent-text" style="color:#666">{{username}}</a></li></div>
						{% endfor %}
					{% if new_feed == '0' %}
					<li class="pannel-item"><a href="{% url 'polls:home' 1 %}" class="side-pannel-text">Recent</a></li>
					{% else %}
					<li class="pannel-item"><a href="{% url 'polls:home' %}" class="side-pannel-text">Top questions</a></li>
					{% endif %}
					<li class="pannel-item"><a href="{% url 'polls:home' 2 %}" class="side-pannel-text">Top answers</a></li>
				</ul>
			</div>
			<!-- main view  -->
			<div class="col-xs-6">
				{% if new_feed == '2' %}
					<h1 style="margin-bottom:5%">Top Answers</h1>
					{% include 'polls/answers.html' with answers=answers %}
				{% elif new_feed == '0'%}
					<h1 style="margin-bottom:5%">Top Questions</h1>
					{% include 'polls/questions.html' with questions=questions %}
				{% else %}
					<h1 style="margin-bottom:5%">New Questions</h1>
					{% include 'polls/questions.html' with questions=questions %}
				{% endif %}
			</div>
		</div>
{% endblock content %}