{% load static %}
{% for question in questions %}
	<div class="content-wrapper">
		<div><a href="{% url 'polls:category' question.category %}" class="category"><i>Category:</i> {{question.category}}</a></div>
		<h2><a href="{% url 'polls:details' question.id %}" class="accent-text question-text">{{question.content}}</a></h2>
		<div class="time">{{question.time}}</div>
		<br>
		<div><i>Asked by </i><a href="{% url 'polls:profile' question.user.id %}" class="accent-text username">{{question.user.username}}</a></div>
		
	</div>
{% endfor %}