body {
	background-color: #fff;
	padding-left: 100px;
}

h1 {
	color: rgb(88, 88, 88)
}

#header {
	background-color: rgb(185, 43, 39);
}

#mytitle {
	font-family: "Times New Roman", Georgia;
	font-size: 34px;
	color: #fff;
}

#mainview {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	margin-top: 50px;
}

#header a {
	color: #fff;
	margin: 0px 20px 0px 0px;
}

.left-panel li {
	list-style: none;
}

.top_users {
	margin: 5px 5px 5px 5px;
	background-color: #ff3;
	border: solid;
	border-radius: 10px;
	border-color: #ff9;
	text-align: center;
}

.box {
	margin: 10px 10px 10px 10px;
	padding: 10px 20px 10px 20px;
	border-radius: 10px;
	border: solid;
	border-color: #eee;
}

.category {
	color: #acacac;
}

.category:hover {
	color: #2b6dad;
	text-decoration: none;
}

.user-details {
	color: #acacac;
	margin-left: 20px;
}

img.resize {
	border-radius: 50px;
	border: solid;
	border-color: white;
	width: 50px;
	height: 50px;
}

#qbox {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 40px;
	margin-top: 80px;
}

.answer-box input[type=text]{
	height: 70px;
}

.answer-box input[type=submit]{
	border-radius: 15px;
}

.answer-box .row {
	margin-bottom: 15px;
}

hr.hrstyle {
	border-top: 1px solid rgb(214, 214, 214);
	margin-top: 1px;
	margin-bottom: 0px;
}

.no-answer-tag {
	color: red; 
	border: solid; 
	border-width: 1px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	margin-top: 0px; 
	border-top: none;
	text-align: center;
}

.navbar-form {
    padding: 10px 50px;
    margin: 0px 0px 0px 0px;
}

.navbar-nav > li a:hover {
    background:transparent !important;
}

.time {
    color: #acacac;
    font-size: 11px;
}

.username {
	font-size: 18px;
	border-bottom: 1px solid transparent;
	display: inline-block;
	line-height: 0.85;
}

.username:hover {
	font-size: 18px;
	text-decoration: none;
	color: rgb(58, 58, 58);
	border-bottom: 1px solid currentColor;
}

.accent-text {
    font-family: "Times New Roman", Georgia;
    color: rgb(58, 58, 58);
}

.answer-text {
	padding-top: 5px;
    font-size: 20px;
}

.question-text {
    font-size: 30px;
	color: black;
	border-bottom: 1px solid transparent;
	display: inline;
	line-height: 1.25;
	text-shadow:
		2px 2px white,
		2px -2px white,
		-2px 2px white,
		-2px -2px white;
}

.question-text:hover {
    color: black;
	text-decoration: none;
	border-bottom: 1px solid currentColor;
}

.content-wrapper {
	background-color: #fff;
	margin: 0px 10px 0px 10px;
	padding: 5px 20px 5px 20px;
	border-top: solid 0.5px;
	border-color: rgb(214, 214, 214);
}

.side-pannel-header {
	font-size: 16px;
}

.side-pannel-text {
	font-size: 14px;
	color: #666;
	text-decoration: none
}

li.pannel-item {
	margin-top: 10px;
}

a.side-pannel-text:hover {
	color: #2b6dad;
	text-decoration: none;
}

li a.username {
	font-size: 18px;
	border-bottom: 1px solid transparent;
	display: inline-block;
	line-height: 0.85;
}

li a.username:hover{
	font-size: 18px;
	text-decoration: none;
	color: rgb(58, 58, 58);
	border-bottom: 1px solid currentColor;
}
.tagging-text {
	font-size: 14px;
	font-style: italic;
}

.comment-text {
	font-size: 13px
}
.cmt-item {
	padding: 10px
}
.comment {
	background-color: rgb(243, 242, 242);
}
